.formContainer {
    display: flex;
    flex-direction: column;
}

.formBox {
    height: 500px;
    left: 237px;
    position: relative;
    top: 33px;
    width: 518px;
    /*display: flex;
    flex-direction: column;
    justify-content: start;
    width: 518px;
    height: 575px;
    text-align: start;
    width: 700px;
}*/
}