.productsTitle {
    padding-left: 65px;
    padding-top: 22px;
    position: absolute;
    text-align: start;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 34px;
    column-gap: 10px;
    padding: 88px;
}

.productsBox {
    display: flex;
    flex-direction: row;
}