.modalCart {
    background-color: cadetblue;
    font-size: 18px;
    height: 85%;
    max-width: 70%;
    overflow: scroll;
    position: fixed;
    right: 0;
    text-align: start;
    transition: transform 0.3s ease-out;
    width: 493px;
    z-index: 100;
}

.openCart {
    transform: translateX(0);
}

.closeCart {
    transform: translateX(100%);
}

.modalCard {
    padding: 31px 77px 208px 48px;
}

.btnClose {
    cursor: pointer;
    height: 30px;
    position: absolute; 
    right: 19px;
    width: 30px;
}

.cartTitle {
    font-size: 24px;
    padding-bottom: 34px;
}

.btnProceedPay {
    background-color: #2980B9;
    margin-top: 15px;
    width: 370px;
}

.back-drop {
    background-color: rgba(63, 61, 61, 0.692);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
}