header {
    align-items: center;
    background-color: #3498DB;
    display: flex;
    height: 90px;
    justify-content: space-between;
    padding-left: 37px;
    padding-right: 48px;
    position: fixed;
    width: 100%;
    z-index: 100;
}